<h2>Ajouter un lieu :</h2>

{{ form_start(nouveauLieuForm) }}
<div class="space-y-3">
	{{ form_row(nouveauLieuForm.nom) }}
	{{ form_row(nouveauLieuForm.rue) }}
	{{ form_row(nouveauLieuForm.latitude) }}
	{{ form_row(nouveauLieuForm.longitude) }}
	{{ form_row(nouveauLieuForm.ville) }}
</div>

{{ form_end(nouveauLieuForm) }}
