{% extends 'base.html.twig' %}

{% block title %} 
- Recherche des sorties
{% endblock %}

{% block body %}

	{# TODO cas admin, affichage des options #}

	<main class="container flex flex-col md:px-12 px-4 lg:m-4 space-y-4">
		<div class="mt-8">
			<p>date du jour:
				{{ "now"|date("m/d/Y") }}</p>
			<p>
				<strong>Participant :
					{{ app.user.prenom }}
					{{ app.user.nom|first|upper }}.</p>
			</p>
		</div>

		<div class="my-4">
			<a class="bg-amber-500 border w-fit px-4 py-2 text-slate-100 rounded-xl shadow-lg shadow-slate-40" href="{{ path("nouvelle_sortie") }}">Créer une sortie</a>
		</div>

		{{ form_start(rechercheForm) }}
		<div class="mt-8 lg:grid lg:grid-cols-2 lg:w-1/2 space-y-3">

			<div class="lg:flex lg:flex-col space-y-3">
				{{ form_row(rechercheForm.campus, {"attr": {'class': 'flex'}}) }}
				{{ form_row(rechercheForm.nom, {"attr": {'class': 'flex'}}) }}
				{{ form_row(rechercheForm.dateDebut, {"attr": {'class': 'flex'}}) }}
				{{ form_row(rechercheForm.dateFin, {"attr": {'class': 'flex'}}) }}
			</div>
			<div class="lg:flex lg:flex-col space-y-4">
				{{ form_row(rechercheForm.organisateur) }}
				{{ form_row(rechercheForm.inscrit) }}
				{{ form_row(rechercheForm.nonInscrit) }}
				{{ form_row(rechercheForm.sortiesPassees) }}
				{{ form_row(rechercheForm.rechercher, {"attr": {'class': 'mt-2 bg-amber-500 border w-fit px-4 py-2 text-slate-100 rounded-xl'}}) }}
			</div>

			
		</div>
		{{ form_end(rechercheForm) }}
		<div class="container mt-4">
			<table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
				<thead class="text-white">
					{% for sortie in sorties %}
						<tr class=" bg-amber-500 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
							<th class="p-2 border-2 h-20">Nom de la sortie</th>
							<th class="p-2 border-2 h-10">Date de la sortie</th>
							<th class="p-2 border-2 h-10">Clôture</th>
							<th class="p-2 border-2 h-10">Inscrits/places</th>
							<th class="p-2 border-2 h-10">Etat</th>
							<th class="p-2 border-2 h-10">Inscrit</th>
							<th class="p-2 border-2 h-10">Organisateur</th>
							<th class="p-2 border-2 h-10">Actions</th>
						</tr>
					{% endfor %}
				</thead>
				<tbody class="flex-1 sm:flex-none">
					{% for sortie in sorties %}
						<tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
							<td class="border-grey-light border hover:bg-gray-100 p-3 h-20">{{ sortie.nom }}</td>
							<td class="border-grey-light border hover:bg-gray-100 p-3 h-10">{{ sortie.dateHeureDebut|date('d/m/y : h:m') }}</td>
							<td class="border-grey-light border hover:bg-gray-100 p-3 h-10">{{ sortie.dateLimiteInscription|date('d/m') }}</td>
							<td class="border-grey-light border hover:bg-gray-100 p-3 h-10">
                            {% if sortie.nbInscriptionMax and sortie.nombreInscrit() >= sortie.nbInscriptionMax %}
                                COMPLET
                            {% else %}
                                {{ sortie.nombreInscrit() }} /
                                {% if sortie.nbInscriptionMax %}
                                    {{ sortie.nbInscriptionMax }}
                                {% else %}
                                    ∞
                                {% endif %}
                            {% endif %}
                        </td>
							<td class="border-grey-light border hover:bg-gray-100 p-3 h-10">{{ sortie.etat.libelle }}</td>
							<td class="border-grey-light border hover:bg-gray-100 p-3 h-10">
								{% if app.user.participantInscritSortie(sortie) %}
									X
								{% endif %}
							</td>
							<td class="border-grey-light border hover:bg-gray-100 p-3 h-10">
								<a href="{{path('participant_details', {id : sortie.organisateur.id})}}">
									{{ sortie.organisateur.prenom }}
									{{ sortie.organisateur.nom }}
								</a>
							</td>
							<td
								class="border-grey-light border hover:bg-gray-100 p-3 h-10">
								{# TODO changer le libelle pour l'id #}
								{% if sortie.etat.libelle not in ["Créée", "Historisée"] %}
									<a href="{{path('details_sortie', {id : sortie.id})}}">Afficher
									</a>
								{% endif %}
								{% if not app.user.participantOrganisateurSortie(sortie) %}
									{% if sortie.etat.libelle == "Ouverte" and not app.user.participantInscritSortie(sortie) %}
										<a href="{{path('participant_inscription', {id : sortie.id})}}">S'inscrire
										</a>
									{% endif %}
									{% if app.user.participantInscritSortie(sortie) 
                            and sortie.etat.libelle in ["Ouverte", "Clôturée"] %}
										<a href="{{path('participant_desistement', {id : sortie.id})}}">Se désister
										</a>
									{% endif %}
								{% endif %}


								{% if sortie.etat.libelle == "Créée" and app.user.participantOrganisateurSortie(sortie) %}
									<a href="{{ path('modifier_sortie', {id : sortie.id}) }}">Modifier
									</a>
									<a href="{{ path('publier_sortie', {id : sortie.id}) }}">Publier
									</a>
									<a href="{{ path('supprimer_sortie', {id : sortie.id}) }}">Supprimer
									</a>
								{% endif %}
								{% if
                                sortie.etat.libelle in ["Ouverte", "Clôturée"]
                                and (app.user.participantOrganisateurSortie(sortie) or is_granted("ROLE_ADMIN")) %}
									<a href="{{ path('annuler_sortie', {id : sortie.id}) }}">Annuler
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</main>
{% endblock %}
