{% extends 'base.html.twig' %}

{% block title %}
	- Modifier une sortie.
{% endblock %}

{% block body %}
	<main class="container flex flex-col md:px-12 px-4 m-4 space-y-4">
		<h1 class=" text-center mt-12">
			Modifier une sortie
		</h1>

		{{ form_start(modifSortieForm) }}
		<div class="grid grid-cols-2 w-2/3 mx-auto mt-12  text-sm">
			<div class="space-y-3">
				{{ form_row(modifSortieForm.nom) }}
				{{ form_row(modifSortieForm.dateHeureDebut) }}
				{{ form_row(modifSortieForm.dateLimiteInscription) }}
				{{ form_row(modifSortieForm.nbInscriptionMax) }}
				{{ form_row(modifSortieForm.duree) }}
				{{ form_row(modifSortieForm.infosSortie) }}
			</div>
			<div class="space-y-3">
				{{ form_row(modifSortieForm.ville) }}
				
				{{ form_row(modifSortieForm.lieu) }}
				<p>Rue :
					{{ sortie.lieu.rue }}</p>
				<p>Code postal :
					{{ sortie.lieu.ville.codepostal }}</p>
				<p>Latitude :
					{{ sortie.lieu.latitude }}</p>
				<p>Longitude :
					{{ sortie.lieu.longitude }}</p>
			</div>
		</div>

		<div class="flex mt-12 space-x-6 justify-center">
			{{ form_row(modifSortieForm.enregistrer, { 'attr': {'class': 'bg-amber-600 border w-fit px-4 py-2 text-slate-100 rounded-xl font-semibold'}}) }}
			{{ form_row(modifSortieForm.publier, { 'attr': {'class': 'bg-amber-600 border w-fit px-4 py-2 text-slate-100 rounded-xl font-semibold'}}) }}
			{{ form_row(modifSortieForm.supprimer, { 'attr': {'class': 'bg-amber-600 border w-fit px-4 py-2 text-slate-100 rounded-xl font-semibold mr-12 mb-4 lg:mb-0'}}) }}
			<a href="{{path('app_affichage_sorties') }}" class="bg-red-600 border w-fit px-4 py-2 text-slate-100 rounded-xl font-semibold shadow-lg shadow-slate-400">Annuler</a>
		</div>

		{{ form_end(modifSortieForm) }}
	</main>
{% endblock %}

{% block javascripts %}
	<script>
	
		// window.onload = () => {
		// 	let ville = document.querySelector('#modif_sortie_ville');
		// 	ville.addEventListener("change", function() {
		// 		let form = this.closest("form");
		// 		let formData = new FormData(form);
		// 		console.log(formData)
	
		// 		fetch(form.action, {
		// 			method: form.getAttribute('method'),
		// 			body: formData,
		// 		})
		// 		.then(response => response.text())
		// 		.then(html => {
		// 			let content = document.createElement("html");
		// 			content.innerHTML = html;
		// 			let nouveauSelect = content.querySelector('#modif_sortie_lieu');
		// 			document.querySelector("#modif_sortie_lieu").replaceWith(nouveauSelect);
		// 		})				
		// 	})
		// }
	</script>
{% endblock %}
