{% extends 'base.html.twig' %}

{% block title %}Créer une sortie.
{% endblock %}

{% block body %}
	<main class="container flex flex-col md:px-12 px-4 lg:mx-auto space-y-4">
		<h1 class=" lg:text-center mt-6 lg:mt-12">
			Créer une sortie
		</h1>


		{{ form_start(nouvelleSortieForm) }}
		<div class="lg:grid lg:grid-cols-2 mt-6 lg:mt-12 w-3/4 lg:mx-auto text-sm">
			<div class="space-y-4">
				{{ form_row(nouvelleSortieForm.nom) }}
				{{ form_row(nouvelleSortieForm.dateHeureDebut) }}
				{{ form_row(nouvelleSortieForm.dateLimiteInscription) }}
				{{ form_row(nouvelleSortieForm.nbInscriptionMax) }}
				{{ form_row(nouvelleSortieForm.duree) }}
				{{ form_row(nouvelleSortieForm.infosSortie) }}
			</div>
			<div class="space-y-4">
				{{ form_row(nouvelleSortieForm.ville) }}

				<div class="flex">
					{{ form_row(nouvelleSortieForm.lieu) }}
					<div class="group relative" id="modal_button">
						<button type="button" class="lg:mt-0 mt-3 transition duration-75 ease-in-out hover:bg-amber-600 bg-black rounded-full text-white px-3 text-xl" onclick="modalHandler(true)">+
						</button>
					</div>
				</div>
				<div id='rue' class=" font-semibold">
					Adresse :
				</div>
				<div id='code_postal' class=" font-semibold">
					Code postal :
				</div>
				<div id='longitude' class=" font-semibold">
					longitude :
				</div>
				<div id='latitude' class=" font-semibold">
					latitude :
				</div>

			</div>
		</div>

		<div class="lg:flex lg:space-x-6 lg:space-y-0 lg:justify-center lg:mt-12 mt-6 space-y-1">
			{{ form_row(nouvelleSortieForm.enregistrer, { 'attr': {'class': 'bg-amber-600 border w-fit px-4 py-2 text-slate-100 rounded-xl font-semibold'}}) }}
			{{ form_row(nouvelleSortieForm.publier, { 'attr': {'class': 'bg-amber-600 border w-fit px-4 py-2 text-slate-100 rounded-xl font-semibold mr-12 mb-4 lg:mb-0'}}) }}
				<a href="{{path('app_affichage_sorties') }}" class="bg-red-600 border w-fit px-4 py-2 text-slate-100 rounded-xl font-semibold">Annuler</a>
		</div>


		{{ form_end(nouvelleSortieForm) }}

		<modal>

			<div class="py-12 bg-gray-700 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0" id="modal">
				<div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
					<div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">

						<div>
							{% include "lieu/nouveauLieu.html.twig" %}
						</div>

						<button class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600" onclick="modalHandler()" aria-label="close modal" role="button">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewbox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z"/>
								<line x1="18" y1="6" x2="6" y2="18"/>
								<line x1="6" y1="6" x2="18" y2="18"/>
							</svg>
						</button>
					</div>
				</div>
			</div>

			<script>
				let modal = document.getElementById("modal");
modal.style.display = "none";

function modalHandler(val) {
if (val) {
fadeIn(modal);
} else {
fadeOut(modal);
}
}

function fadeOut(el) {
el.style.opacity = 1;
(function fade() {
if ((el.style.opacity -= 0.1) < 0) {
el.style.display = "none";
} else {
requestAnimationFrame(fade);
}
})();
}

function fadeIn(el, display) {
el.style.opacity = 0;
el.style.display = display || "flex";
(function fade() {
let val = parseFloat(el.style.opacity);
if (!((val += 0.2) > 1)) {
el.style.opacity = val;
requestAnimationFrame(fade);
}
})();
}
			</script>

		</modal>
	</main>

{% endblock %}

{% block javascripts %}
	<script>
		window.onload = () => {
let ville = document.querySelector('#nouvelle_sortie_ville');
let codePostal = document.querySelector('#code_postal');

ville.addEventListener("change", function () {
let form = this.closest("form");
let formData = new FormData(form);
fetch(form.action, {
method: form.getAttribute('method'),
body: formData
}).then(response => response.text()).then(html => {
let content = document.createElement("html");
content.innerHTML = html;
let nouveauSelect = content.querySelector('#nouvelle_sortie_lieu');

document.querySelector("#nouvelle_sortie_lieu").replaceWith(nouveauSelect);

// lieu.replaceChildren(nouveauSelect.children);

document.querySelector("#nouvelle_sortie_lieu").addEventListener("change", function () {
let selectedLieuId = this.value;

fetch (`/get-detail-lieu/${selectedLieuId}`, {method: 'GET'}).then(response => response.json()).then(data => {
if (data.rue) {
document.querySelector("#rue").textContent = `Adresse : ${
data.rue
}`;
} else {
document.querySelector("#rue").textContent = `Adresse :`;
}

if (data.longitude) {
document.querySelector("#longitude").textContent = `longitude : ${
data.longitude
}`;
} else {
document.querySelector("#longitude").textContent = `longitude : `;
}

if (data.latitude) {
document.querySelector("#latitude").textContent = `latitude : ${
data.latitude
}`;
} else {
document.querySelector("#latitude").textContent = `latitude :`;
}
})
});


})
let selectedVilleId = this.value;

fetch (`/get-cp-by-ville/${selectedVilleId}`, {method: 'GET'}).then(response => response.json()).then(data => {
if (data.code_postal) {
codePostal.textContent = `Code postal : ${
data.code_postal
}`;

} else {
codePostal.textContent = '';
}
document.querySelector("#rue").textContent = `Adresse :`;
document.querySelector("#longitude").textContent = `longitude : `;
document.querySelector("#latitude").textContent = `latitude :`;
})
console.log("lieu", lieu);

});


}
	</script>
{% endblock %}
