{% extends 'base.html.twig' %}

{% block title %}Créer une sortie.
{% endblock %}

{% block body %}
	<main class="flex flex-col">
		<h1 class=" text-center my-5">
			Créer une sortie
		</h1>

		{{ form_start(nouvelleSortieForm) }}
		<div class="grid grid-cols-2 w-3/4 mx-auto text-xs">
			<div class="space-y-3">
				{{ form_row(nouvelleSortieForm.nom) }}
				{{ form_row(nouvelleSortieForm.dateHeureDebut) }}
				{{ form_row(nouvelleSortieForm.dateLimiteInscription) }}
				{{ form_row(nouvelleSortieForm.nbInscriptionMax) }}
				{{ form_row(nouvelleSortieForm.duree) }}
				{{ form_row(nouvelleSortieForm.infosSortie) }}
			</div>
			<div class="space-y-3">
				{{ form_row(nouvelleSortieForm.ville) }}

				 {{ form_row(nouvelleSortieForm.lieu) }}
				<div>
					Rue : 
				</div>
				<div>
					Code postal : 
				</div>
				<div>
					Latitude :
				</div>
				<div>
					Longitude :
				</div>
			</div>
		</div>

		<div class="flex mt-12 space-x-6 justify-center">
			{{ form_row(nouvelleSortieForm.enregistrer, { 'attr': {'class': 'border-2 border-black px-3 py-1 shadow-md shadow-slate-950'}}) }}
			{{ form_row(nouvelleSortieForm.publier, { 'attr': {'class': 'border-2 border-black px-3 py-1 shadow-md shadow-slate-950'}}) }}
			<a href="{{path('app_affichage_sorties') }}" class="border-2 border-black px-3 py-1 shadow-md shadow-slate-950">Annuler</a>
		</div>

		{{ form_end(nouvelleSortieForm) }}
	</main>
{% endblock %}

{% block javascripts %}
	<script>
		window.onload = () => {
			let ville = document.querySelector('#nouvelle_sortie_ville');
			ville.addEventListener("change", function() {
				let form = this.closest("form");
				let formData = new FormData(form);

				
				fetch(form.action, {
					method: form.getAttribute('method'),
					body: formData,
				})
				.then(response => response.text())
				.then(html => {
					let content = document.createElement("html");
					content.innerHTML = html;
					let nouveauSelect = content.querySelector('#nouvelle_sortie_lieu');
					document.querySelector("#nouvelle_sortie_lieu").replaceWith(nouveauSelect);
				})				
			})
		}
	</script>
{% endblock %}
