{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!
{% endblock %}

{% block body %}
	<div class="flex flex-col">
		<h1 class=" text-center my-5">
			Créer une sortie
		</h1>

		{{ form_start(nouvelleSortieForm) }}
		<div class="grid grid-cols-2 w-3/4 mx-auto text-xs">
			<div class="space-y-3">
				{{ form_row(nouvelleSortieForm.nom) }}
				{{ form_row(nouvelleSortieForm.dateHeureDebut) }}
				{{ form_row(nouvelleSortieForm.dateLimiteInscription) }}
				{{ form_row(nouvelleSortieForm.nbInscriptionMax) }}
				{{ form_row(nouvelleSortieForm.duree) }}
				{{ form_row(nouvelleSortieForm.infosSortie) }}
			</div>
			<div class="space-y-3">
				{{ form_row(nouvelleSortieForm.ville) }}
				{{ form_row(nouvelleSortieForm.lieu) }}
			</div>
		</div>

		<div>
			{{ form_row(nouvelleSortieForm.enregistrer) }}
			{{ form_row(nouvelleSortieForm.publier) }}
			<a href="./sorties">Annuler</a>
		</div>

		{{ form_end(nouvelleSortieForm) }}
	</div>
{% endblock %}
