{% extends 'base.html.twig' %}

{% block title %}Créer une sortie.
{% endblock %}

{% block body %}
	<main class="container flex flex-col mx-auto">
		<h1 class=" text-center mt-12">
			Créer une sortie
		</h1>

		{{ form_start(nouvelleSortieForm) }}
		<div class="grid grid-cols-2 mt-12 w-1/2 mx-auto text-sm">
			<div class="space-y-3">
				{{ form_row(nouvelleSortieForm.nom) }}
				{{ form_row(nouvelleSortieForm.dateHeureDebut) }}
				{{ form_row(nouvelleSortieForm.dateLimiteInscription) }}
				{{ form_row(nouvelleSortieForm.nbInscriptionMax) }}
				{{ form_row(nouvelleSortieForm.duree) }}
				{{ form_row(nouvelleSortieForm.infosSortie) }}
			</div>
			<div class="space-y-3">
				{{ form_row(nouvelleSortieForm.ville) }}

				{{ form_row(nouvelleSortieForm.lieu) }}
				<div id='code_postal'>
					Code postal : 
				</div>
				{#
				<div id='latitude'>
					Latitude :
				</div>
				<div id='longitude'>
					Longitude :
				</div> #}
			</div>
		</div>

		<div class="flex mt-12 space-x-6 justify-center">
			{{ form_row(nouvelleSortieForm.enregistrer, { 'attr': {'class': 'border-2 border-black px-3 py-1 shadow-md shadow-slate-950'}}) }}
			{{ form_row(nouvelleSortieForm.publier, { 'attr': {'class': 'border-2 border-black px-3 py-1 shadow-md shadow-slate-950'}}) }}
			<a href="{{path('app_affichage_sorties') }}" class="border-2 border-black px-3 py-1 shadow-md shadow-slate-950 bg-red-200">Annuler</a>
		</div>

		{{ form_end(nouvelleSortieForm) }}
	</main>
{% endblock %}

{% block javascripts %}
	<script>
		window.onload = () => {
			let ville = document.querySelector('#nouvelle_sortie_ville');

			let codePostal = document.querySelector('#code_postal');

			ville.addEventListener("change", function() {
				let form = this.closest("form");
				let formData = new FormData(form);
				fetch(form.action, {
					method: form.getAttribute('method'),
					body: formData,
				})
				.then(response => response.text())
				.then(html => {
					let content = document.createElement("html");
					content.innerHTML = html;
					let nouveauSelect = content.querySelector('#nouvelle_sortie_lieu');
					document.querySelector("#nouvelle_sortie_lieu").replaceWith(nouveauSelect);
				})

				let selectedVilleId = this.value;

				fetch(`/get-cp-by-ville/${selectedVilleId}`, {
				method: 'GET'
				})
				.then(response => response.json())
				.then(data => {
					if (data.code_postal) {
						codePostal.textContent = `Code postal : ${data.code_postal}`;
					} else {
						codePostal.textContent = '';
					}
				})	
        	});
		}
	</script>
{% endblock %}


